{# Macro to render a WTForm field with Bootstrap styling #}
{% macro render_field(field, label_visible=true) %}
    <div class="mb-3">
        {% if label_visible %}
            {{ field.label(class='form-label') }}
        {% endif %}
        
        {# Add is-invalid class if errors exist #}
        {% set field_class = kwargs.pop('class', '') + (' is-invalid' if field.errors else '') %}
        {{ field(class=field_class, **kwargs) | safe }}
        
        {% if field.errors %}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                    <span>{{ error }}</span><br>
                {% endfor %}
            </div>
        {% endif %}
        
        {% if field.description %}
            <div class="form-text">{{ field.description }}</div>
        {% endif %}
    </div>
{% endmacro %} 